extends layout

block content

    .main_container
        .center-text
            h1 #{title}
            p Aquí está la imagen que deseas mostrar:
            // Ruta de la imagen
            img(src="/img/eg.jpeg", alt="Descripción de la imagen")