extends layout

block content

    .loginContainer
            h2 Iniciar sesión
            form(action="/login", method="post")
                .form-group
                    label(for="username") Usuario:
                    input(type="text", id="username", name="username", required)
                .form-group
                    label(for="password") Contraseña:
                    input(type="password", id="password", name="password", required)
                button(type="submit") Iniciar sesión
            p ¿No tienes una cuenta? 
                a(href='/registro' class='register-link') Regístrate
