extends layout

block content
    .main_container
        .center-text
            h1 Resultado
            // Muestra los valores capturados almacenados en palabraCache
            p Texto: #{palabraCache.texto}
            p Origen: #{palabraCache.origen}
            p Destino: #{palabraCache.destino}