extends layout

block content
    .main_container
        .center-text
            h1 Resultado
            // Muestra los valores capturados almacenados en palabraCache
            p Origen: #{datosUltimaConversion.idioma_original}
            p Texto original: #{datosUltimaConversion.palabra_original}
            p Destino: #{datosUltimaConversion.idioma_destino}
            p Resultado: #{datosUltimaConversion.nueva_palabra}
            

    form(action="/" method="get")
        button(type="submit") Encriptar otro texto