extends layout

block content
    .main_container
        .center-text
            h1 Resultado
            // Muestra los valores capturados almacenados en palabraCache
            p Resultado: #{datosUltimaConversion.nueva_palabra}
            p Texto original: #{datosUltimaConversion.palabra_original}
            p Origen: #{datosUltimaConversion.idioma_original}
            p Destino: #{datosUltimaConversion.idioma_destino}
            
            

    form(action="/" method="get")
        button(type="submit", class="regresar") Encriptar otro texto