extends layout

block content
    .main_container
        .center-text
            h1 Resultado
            // Mostrar los datos obtenidos de la última operación
            p Texto original: #{Palabra.palabra_original}
           